{{#if (eq user.role 'admin')}}
    <h2>Bienvenido usuario Administrador {{ user.full_name }}</h2>
{{else}}
    <h2>Bienvenido usuario {{ user.full_name }}</h2>
{{/if}}


<button onclick="getProfile()" class="button__logout">Mi perfil</button>
<button onclick="getCart('{{user.cartId}}')">Ver mi carrito</button>


<h3 class="title"> {{title}} </h3>

<nav class="">
    <ul class="container__pages">
        {{#if products.hasPrevPage}}
            <li>
                <a class="container__a" href="/products?page={{products.prevPage}}">Ant</a>
            </li>
        {{/if}}
            <li>
                <a class="container__a" href="/products?page=1">Pg 1</a></li>
            <li>
                <a class="container__a" href="#">Pg {{products.page}} de {{products.totalPages}}</a></li>
        {{#if products.hasNextPage}}
            <li>
                <a class="container__a" href="/products?page={{products.nextPage}}">Sig</a>
            </li>
        {{/if}}
    </ul>
</nav>

<form action="/addProduct" method="get">
    <button>Agregar Producto</button>
</form>

<div class="product__container">
    {{#each products.docs}}
        <div class="product__list">
            <h1 class="product__itle"> {{ this.title }} </h1>
            <p class="product__description">Talle: {{ this.description }} </p>
            <span class="product__price"> $ {{ this.price }} </span>
                <button class="product__button" onclick="addProductToCart('{{../user.cartId}}', '{{this._id}}', '{{this.title}}')">Agregar al carrito</button>
                <button onclick="deleteProduct('{{this._id}}')">Eliminar Producto</button>
        </div>
    {{/each}}
</div>


<script>
    function deleteProduct(productId) {
fetch(`/api/products/${productId}`, {
    method: 'DELETE',
})
.then(response => {
    if (response.ok) {
    window.location.reload();
    } else {
    console.error('Hubo un problema con la solicitud de eliminación');
    }
})
.catch(error => console.error('Error:', error));
}
</script>

<script>
    function getProfile(){
        window.location.href = '/profile'
    }
</script>

<script>
    function addProductToCart(cartId, productId, title){
        fetch(`/api/carts/${cartId}/products/${productId}`, {
            method: 'POST'
        })
        .then(response =>{
            if(response.ok){
                alert(`${title} agregado al carrito`)
                window.location.reload()
            }else{
                console.log('Error en el endpoint');
            }
        })
    }
</script>

<script>
    function getCart(cartId){
        window.location.href = `/carts/${cartId}`
    }
</script>
