{{!-- <h1 class="title"> {{title}} </h1>

    {{#each products}}
        <li class="list"> 
            {{this.title}} 
            {{this.description}} 
            <span class="price">{{this.price}}</span> 
            <button class="buttonEliminar" id="{{this.id}}">Eliminar</button>    
        </li>
    {{/each}}

    <form id="productForm">
    <label for="productTitle">Título:</label>
    <input type="text" id="productTitle" name="productTitle" required>

    <label for="productDescription">Descripción:</label>
    <input type="text" id="productDescription" name="productDescription" required>

    <label for="productPrice">Precio:</label>
    <input type="number" id="productPrice" name="productPrice" required>

    <label for="productCode">Codigo:</label>
    <input type="text" id="productCode" name="productCode" required>

    <label for="productStock">Stock:</label>
    <input type="number" id="productStock" name="productStock" required>

    <label for="productCategory">Categoria:</label>
    <input type="text" id="productCategory" name="productCategory" required>

    <label for="productThumbnails">Imagen:</label>
    <input type="text" id="productThumbnails" name="productThumbnails" required>

    <button type="submit">Agregar Producto</button>
</form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/index.js"></script> --}}